<h1>Listing energy_data</h1>

<% @return_data.each do |year, amount| %>
  <p>in <b><%= year %></b> <%= params[:state][:state]%> used <b><%= amount%></b> Mcf of coal</p>
<%end%>

<form>
  <%= form_for :state do |f| %>
    <%= f.text_field :state %>
  <% end %>
</form>
