<div class='col-md-3'>
  <div class='well menu-well'>
    <div class='col-md-10 col-md-offset-1'>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li id="GETCB" class="filter-button"><%= link_to "Geothermal"%></li>
      <li id="SOTCB" class="filter-button"><%= link_to "Solar"%></li>
      <li id="WYTCB" class="filter-button"><%= link_to "Wind"%></li>
      <li id="PATCB" class="filter-button"><%= link_to "Petroleum" %></li>
      <li id="CLTCB" class="filter-button"><%= link_to "Coal"%></li>
    </ul>
    <div>
      <%= form_for(@state as: :abrev) do |f|%>
        <%= f.select :id, State::STATES %>
      <% end %>
    </div>
  </div>
</div>
