<!DOCTYPE html>
<html ng-app="ProjectApp">
<head>
  <title>D3project</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-controller="ProjectController">
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'>
        <div class='well menu-well'>
          <img class='state-pic' src=<%=@state.url%> alt='state-pic'>
          <ul class="nav nav-pills nav-stacked">
            <li><a href='#'>Electricity</a></li>
            <li><a href='#'>Petroleum</a></li>
            <li><a href='#'>Coal</a></li>
          </ul>
        </div>
      </div>
    <%= yield %>
    </div>
  </div>
</body>
</html>
